{:storage    {:backend :memory}
 :plugins    [{:type :builtin :id :divine-dust :entrypoint sns.builtin.dust/generator}
              {:type :builtin :id :relics :entrypoint sns.builtin.relics/generator}
              {:type :data :id :uniques :source "data/uniques.edn"}
              {:type :data :id :rings :source "data/rings.edn"}]
 :loot-table [{:id :divine-dust :weight 40}
              {:id :uniques :weight 25}
              {:id :rings :weight 20}
              {:id :relics :weight 15}]}
