{:label    "Potion"
 :inputs   [{:id      :rarity           :label   "Rarity" :type :enum
             :options ["common" "rare"] :default "common"}
            {:id :engraving :label "Engraving" :type :text}]
 :items    [{:name "Potion"}]
 :title    "{{rarity}} potion"
 :subtitle "{{engraving}}"}
